@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #245800;
  --color-secondary: #F8F8EC;
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #bfffff;
  --color-secondary:#051622; 
}


@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite;
}
