@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Poppins", sans-serif;
}


@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #24583C;
  --color-secondary: #F8F8EC;
   --color-accent:#ffffff; 
   --color-neutral:#FF6B01;
   --color-info:#000000
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #bfffff;
  --color-secondary:#051622;
   --color-accent:#000000;
   --color-neutral:#FFE900;
   --color-info:#ffffff
}


@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite;
}
@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 35px var(--color-primary);
  }
  50% {
    box-shadow: 0 0 35px var(--color-neutral);
  }
}

.animate-glowPulse {
  animation: glowPulse 3s ease-in-out infinite;
}
