@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Poppins", sans-serif;
}


@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #24583C;
  --color-secondary: #24583C13;
   --color-accent:#ffffff; 
   --color-neutral:#FF6B01;
   --color-info:#0f0f0f
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #bfffff;
  --color-secondary:#bfffff15;
   --color-accent:#000000;
   --color-neutral:#FFE900;
   --color-info:#f0f0f0
}


@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite;
}
@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 35px var(--color-primary);
  }
  50% {
    box-shadow: 0 0 35px var(--color-accent);
  }
}

.animate-glowPulse {
  animation: glowPulse 3s ease-in-out infinite;
}
.text-fade-bottom {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  transition: mask-image 0.3s ease-in-out, -webkit-mask-image 0.3s ease-in-out;
}

/* For dark mode (DaisyUI applies [data-theme="dark"]) */
[data-theme="dark"] .text-fade-bottom {
  mask-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}
